.content-text {
  display: block;
  position: relative;
  text-align: justify;
  font-weight: inherit;
}
.content-text h6 {
  font-size: 1rem;
}
.custom-row {
  display: flex;
  flex-wrap: wrap;
}

.sub-title {
  font-weight: bold;
}
