@import "../variables";

#m-header {
  position: fixed;
  z-index: 80;
  width: 100%;
  top: 0;
  left: 0;
}

.menu {
  width: 100%;
  position: absolute;
  height: 64px;
  padding: 0 12px;
  background-color: $white;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
}

.menu-list {
  display: flex;
  justify-content: center;

  li {
    height: 100%;
    position: relative;
  }

  .nav-link {
    font-family: $sfPro;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1px;
    color: $grey-06;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
    text-transform: uppercase;
    padding: 16px 12px;

    h6 {
      margin: 0;
    }
  }

  .nav-item {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.navbar-light .navbar-nav {
  .nav-item:hover,
  .nav-item:focus {
    .nav-link {
      color: $monex-color-00;
      outline: none;
    }
  }
}
.static-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  display: none;
  will-change: transition;
  background-color: $monex-color-00;
  transition: all $time-duration ease;
}

.menu-list li:hover .underline {
  left: 0;
  opacity: 1;
  width: 100%;
  //-webkit-transition: 0.3s;
  //-o-transition: 0.3s;
  //transition: 0.3s;
  //-webkit-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  //-o-transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
  //transition-timing-function: cubic-bezier(0.58, 0.3, 0.005, 1);
}

.contact {
  background: $dim-color-blue;
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 24px;

  &:hover {
    background: $grey-04;
  }

  h6 {
    font-family: $sfPro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $grey-10;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
  }
}

.header-download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 24px;
  background: $monex-color-20;
  border-radius: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 200px;

  &:hover {
    background: $monex-color-00;
  }

  h6 {
    font-family: $sfPro;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: $white;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
  }
}

.underline {
  position: absolute;
  bottom: 0;
  left: calc(100% + 20px);
  opacity: 0;
  height: 3px;
  background-color: $monex-color-00;
  border-radius: 4px 4px 0px 0px;
  width: 10px;
  //-webkit-transition: 0.3s 0.4s;
  //-o-transition: 0.3s 0.4s;
  //transition: 0.3s 0.4s;
}

.dropdown {
  position: relative;

  .s-dropdown-menu {
    position: absolute;
    width: auto;
    visibility: hidden;
    top: 64px;
    left: 0px;
    padding-left: 0;
    margin-top: 10px !important;
    border-radius: 8px !important;
    overflow: hidden !important;
    min-width: 200px !important;
    transition: 0.4s ease-out 0.3s;
    -webkit-transition: 0.4s ease-out 0.3s;
    -o-transition: 0.4s ease-out 0.3s;
    opacity: 0;
  }
}

.dropdown:hover .s-dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.s-dropdown-item {
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  background-color: $white;
  padding: 13px 20px;
  width: 100%;
  a {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    letter-spacing: 1px;
    color: $grey-12;
  }
}

.s-dropdown-item:hover {
  background-color: $grey-02;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.navbar-toggler {
  border: none;
  padding: 0 12px 0 0;

  &:active,
  &:focus {
    box-shadow: none;
  }
}

.bs-canvas-close {
  border: none;
  background: transparent;
}

.chevron-header {
  margin-top: -2px;
}

.nav-link-active {
  color: $monex-color-00 !important;
  outline: none;
  position: relative;

  h6 {
    color: $monex-color-00 !important;
  }
  .static-underline {
    display: block;
  }
  .underline {
    left: 0;
    opacity: 1;
    width: 100%;
  }
}

.m-container {
  max-width: 1040px;
  margin: auto;
}

main#m-main {
  background-color: white;
  flex-direction: column;
  padding-top: 64px;
  font-family: $sfPro;
}

@media (max-width: $large-desktop-width) {
  .header-download {
    height: 40px;
    width: 148px;
    img {
      width: 16px;
      height: 16px;
    }
    h6 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  .contact {
    width: 48px;
    height: 48px;
    h6 {
      display: none;
    }
  }
}
@media (max-width: $desktop-width) {
  .contact {
    display: none;
  }

  .logo-header {
    height: 28px;
  }
}

@media (max-width: $tablet-width) {
  .menu {
    padding: 0 4px;
    height: 56px;
  }

  .menu-list {
    display: none;
  }

  .contact {
    display: none;
  }

  main#m-main {
    padding-top: 56px;
  }
}
